<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
<form action="" method="post" class="form">
    <h2 class="heading">Registration</h2>
    {% csrf_token %}
    {{ student_form.as_p }}

    <input type="submit" name="studentbtn" value="SIGN UP" class="inputs">

</form>

{% if submit_student_button == "SIGN UP" %}
    {{ name }}
    {{ gender }}
    {{ school }}
    {{ parent }}
    {{ phone }}
{% endif %}



</body>
</html>